.bg-left {
    position: fixed;
    display: block;
    width: 53%;
    height: 100vh;
    left: -48px;
    top: 0;
    transform: skew(-2deg);
}

.container-update {
    width: 84%;
    max-width: 480px;
    min-width: 296px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .content-info {
        z-index: 1;
        width: 184px;

        h1 {
            font-style: normal;
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -.6px;
            color: #fff;
            margin-bottom: 20px;
        }
    }
    
    .content-form {
        z-index: 1;
        width: 100%;
        flex-grow: 1;
    }
}

.title-form {
    h3 {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.2px;
        color: #494F66;

        b {
            color: #EF3340;
        }
    }

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #676F8F;
    }
}

@media only screen and (min-width: 1024px) {
    .container-update {
        width: 100%;
        max-width: 592px;
    }
}

@media only screen and (min-width: 1024px){
    .bg-left {
        position: fixed;
        display: block;
        width: 54.0540540541%;
        height: 100vh;
        left: -48px;
        top: 0;
        transform: skew( -2deg);
        overflow: visible;
        overflow: initial;
        border-radius: 0 0 80px 0;
        background: #ef3340;
    }

    .container-update {
        max-width: 925px;

        .home__logo {
            z-index: 1;
            margin-left: 2.7027027027%;
            position: relative;
            width: 100%;
            height: 64px;
            padding: 24px 0;
            box-sizing: border-box;
        }

        .content-info {
            width: 35.1351351351%;
            margin-right: 0;
            margin-top: 0;
            padding-top: 72px;
            z-index: 1;
            margin-left: 2.7027027027%;
        }

        .content-art {
            z-index: 1;
            width: 27.02%;
            padding-top: 72px;
        }

        .content-form {
            z-index: 1;
            width: 24.3243243243%;
            margin-left: 2.7027027027%;
            margin-right: 2.7027027027%;
            padding-top: 36px;
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .bg-left {
        width: 106.3%;
        z-index: 1;
        min-height: 416px;
        height: auto;
        background: #ef3340;
        position: absolute;
        overflow: hidden;
        border-radius: 0 0 40px 0;
        transform: rotate(2deg);
        left: -13px;
        top: -15px;
        transition: none!important;
    }

    .container-update {
        .home__logo {
            position: relative;
            z-index: 1;
            height: 49px;
            padding: 20px 0;
            box-sizing: border-box;
        }

        .content-info {
            width: 62.1621621622%;
            margin-right: 5.4054054054%;
            margin-top: 48px;
            justify-content: flex-start;
            height: 310px;
        }

        .content-art {
            width: 32.4324324324%;
            margin-top: 20px;
            align-items: flex-start;
            z-index: 1;
            position: relative;
            display: flex;
            align-items: center;
        }

        .content-form {
            margin-bottom: 64px;
            margin-top: 48px;
        }
    }
}
