#page__confirm {
    .content__background {
    }
    
    .content__main {
        display: flex;
        flex-wrap: wrap;
        width: 84%;
        max-width: 480px;
        min-width: 296px;
        margin: 0 auto;
    
        .content__logo {
        }
    
        .content__info {
            z-index: 1;
            width: 160px;
    
            .info__title {
    
            }
    
            .info__item {
            }
        }
    
        .content__illustration{
        }
        
        .content__form {
            z-index: 1;
            width: 100%;
            flex-grow: 1;
            font-weight: 300;

            .form__documentos {
                display: flex;
                padding-top: 16px;
                padding-bottom: 16px;
                max-width: 592px !important;
            
                .form__documentotipo {
                    width: 90px;
                }
            
                .form__documentonumero {
                    flex-grow: 1;
                }
            }
    
            .form__item {
                padding-top: 8px;
                padding-bottom: 8px;
                width: 100%;
                max-width: 592px;

                .form__asegurar_title {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 28px;
                    color: #494F66;
                }

                .form__asegurar_item {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 28px;
                    color: #494F66;
                }
            }
            
            .form__politicas {
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: #A3ABCC;
                max-width: 592px;
            }
            
            .form__comencemos {
                background-color: #EF3340;
                color: #FFF;
                font-size: 14px;
                line-height: 16;
                height: 52px;
                border-radius: 8px;
                width: 100% !important;
                max-width: 592px;
                padding-top: 16px;
                padding-bottom: 16px;
                margin-top: 40px;
            }
        }
    }
    
    @media (min-width: 768px) {
        .content__background {
    
        }
        .content__main {
            width: 100%;
            max-width: 592px;
    
            .content__logo {
    
            }
            .content__info {
    
            }
            .content__illustration {
    
            }
            .content__form {
                width: 100%;
                max-width: 592px;
            }
        }
    }
    
    @media (min-width: 1024px) {
        .content__background {
            position: fixed;
            display: block;
            width: 54.0540540541%;
            height: 100vh;
            left: -48px;
            top: 0;
            transform: skew(-2deg);
            overflow: visible;
            overflow: initial;
            border-radius: 0 0 80px 0;
            background: #ef3340;
        }
    
        .content__main {
            max-width: 925px;
    
            .content__logo {
                position: relative;
                width: 100%;
                height: 64px;
                padding: 24px 0;
                box-sizing: border-box;
                z-index: 1;
                margin-left: 2.70%;
            }
    
            .content__info {
                width: 35.1351351351%;
                margin-right: 0;
                margin-top: 0;
                padding-top: 72px;
    
                .info__title {
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 60px;
                    letter-spacing: -0.6px;
                    color: #FFFFFF;
                }
    
                .info__item {
                    font-weight: 300;
                    font-size: 16px;
                    float: left;
                    line-height: 28px;
                    color: #FFFFFF;
                }
    
                .info__item_mobile {
                    display: none;
                }
            }
    
            .content__illustration {
                width: 27.02%;
                z-index: 1;
                padding-top: 72px;
    
                .illustration__mobile {
                    display: none;
                }
    
                .illustration__desktop {
                    width: auto;
                    height: 344px;
                }
            }
    
            .content__form {
                .form__title {
                    font-size: 40px;
                    line-height: 48px;
                    color: #494F66;
        
                    .form__title_red {
                        color: #EF3340;
                    }
                }
        
                .form__subtitle {
                    font-size: 16px;
                    line-height: 24px;
                    color: #676F8F,
                }
            }
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .content__background {
            width: 106.3%;
            z-index: 1;
            min-height: 416px;
            height: auto;
            background: #ef3340;
            position: absolute;
            overflow: hidden;
            border-radius: 0 0 40px 0;
            transform: rotate(2deg);
            left: -13px;
            top: -15px;
            transition: none!important;
        }
    
        .content__main {
            .content__logo {
                position: relative;
                z-index: 1;
                height: 49px;
                padding: 20px 0;
                box-sizing: border-box;
        
                .logo__container {
                    width: 296px;
                }
            }
    
            .content__info {
                width: 62.16%;
                margin-right: 5.41%;
                margin-top: 48px;
                justify-content: flex-start;
                height: 310px;
    
                .info__title {
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 40px;
                    letter-spacing: -0.6px;
                    color: #FFFFFF;
                }
                .info__item {
                    display: none;
                }
    
                .info__item_mobile {
                    font-weight: 300;
                    font-size: 16px;
                    float: left;
                    line-height: 28px;
                    color: #FFFFFF;
                }
            }
    
            .content__illustration {
                width: 32.43%;
                margin-top: 20px;
                align-items: flex-start;
                z-index: 1;
                position: relative;
                display: flex;
    
                .illustration__mobile {
                    width: auto;
                    height: 344px;
                }
    
                .illustration__desktop {
                    display: none;
                }
            }
    
            .content__form {
                .form__title {
                    font-size: 24px;
                    line-height: 36px;
                    color: #494F66;
        
                    .form__title_red {
                        color: #EF3340;
                    }
                }
        
                .form__subtitle {
                    font-size: 16px;
                    line-height: 24px;
                    color: #676F8F,
                }
            }
        }
    }
    
    @media (min-width: 1200px) {
        .content__background {
        }
    
        .content__main {
            max-width: 1184px;
    
            .content__logo {
    
            }
    
            .content__info {
    
            }
    
            .content__illustration {
    
            }
    
            .content__form {
    
            }
        }
    }
}
